.create-transaction-section {
  background: #fff;
  min-width: 320px;
  width: 40%;
  height: 20%;
  margin: 20px auto;
  box-shadow: 0 5px 15px 0 rgba(46, 61, 73, 0.12);
}

.create-transaction-section-title {
  text-align: center;
  font-weight: 400;
  color: #636363;
}

.create-transaction-section > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .create-transaction-section {
    margin: 2.5% auto;
    width: 95%;
  }
}
